.App {
  display: flex;  
  flex-direction: column; /* Элементы располагаются по вертикали */
  justify-content: center; /* Центрируем элементы по вертикали (опционально) */
  align-items: center; /* Центрируем элементы по горизонтали */
  min-height: 100vh; /* Опционально: делает контейнер высотой на весь экран */
  background-color: grey;
}

.width-custom {
  width: 60%;    
}

@media(max-width: 768px){
  .width-custom{
    width: 90%;
  }
}

.border {
  border: 1px green solid;
  padding: 9px;
  margin: 5px;
}

.input-border-default {
  border: 3px solid rebeccapurple;
  outline: none;
}

.input-border-valid {
  border: 3px solid greenyellow;
  outline: none;
}

.input-border-not-valid {
  border: 3px solid crimson;
  outline: none;
}

.user-input-block {
  margin-top: 5px;  
  
  display: grid;
  grid-template-columns: 40% 60%;
}

.label{
  text-align: right;  
  margin-right: 10px;
}

.button{
  text-align: right;
  margin-top: 10px;
}

.users-list{
  text-align: right;
}



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
